@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url('/public/images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url('/public/images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: cover;
  }
}
